@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Foldit:wght@800&family=IM+Fell+Great+Primer+SC&family=Inika&family=Jacques+Francois+Shadow&family=Kaisei+Decol&family=Kalam&family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Tektur&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100;
}

body {
  background-image: url(./res/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(2em);
  height: 100%;
  /* overflow: scroll; */
}

nav,
.navBar {
  line-height: 10vh;
  -webkit-box-shadow: 0px 2px 15px -1px rgba(0, 0, 0);
  -moz-box-shadow: 0px 2px 15px -1px rgba(0, 0, 0);
  box-shadow: 0px 1px 20px -1px rgba(0, 0, 0);
}


.fa-house,
.fa-microchip,
.fa-address-card {
  margin-right: 1.5vh;
}

nav ul {
  justify-content: flex-end;
  display: flex;
}

nav li {
  list-style-type: none;
}

nav .fa-bars {
  display: none;
  margin-right: 1vh;
  cursor: pointer;
  color: white;
  font-size: 5vh;
}

nav .nav-first-child {
  margin-left: 2vh;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: "Unbounded";
  font-size: 4vh;
  margin-right: auto;
}

nav a {
  margin-right: 2vw;
  font-size: 3vh;
  color: rgb(255, 255, 255);
  text-decoration: none;
  /* outline: red solid; */
  padding: 0.2em 0.4em 0.2em 0.4em;
}

nav a:hover {
  transition: all 0.5s ease;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.292);
}

.navigation-menu {
  background-color: rgba(0, 0, 0, 0.788);
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  justify-content: flex-start;
  width: 50vh;
  display: none;
}

.navigation-menu li {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid white;
}

.navigation-menu a {
  text-align: center;
}

.navigation-menu .fa-xmark {
  cursor: pointer;
  margin-right: auto;
  margin-top: 2vw;
  margin-left: 2vw;
  font-size: 4vh;
  color: white;
}

.overview {
  /* outline: red solid; */
  width: 95vw;
  margin-top: 4vh;
  margin-left: 2.5vw;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, );
  -moz-box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
  box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
}

.overview-heading {
  font-size: 4vh;
  padding: 2vh 1vw 2vh 1vw;
  width: 100%;
  text-align: center;
  font-family: "IM Fell Great Primer SC";
  letter-spacing: 1px;
  color: white;
}

.overview-para {
  padding: 2vh 2vw 5vh 2vw;
  text-align: center;
  width: 100%;
  font-size: 4vh;
  font-family: "kalam";
  color: rgb(255, 255, 255);
}

.overview-image {
  align-items: center;
  width: 50%;
  display: flex;
  margin-left: 25%;
  justify-content: center;
  padding: 5vw 2vw 2vw 2vw;
}

.overview-image img {
  background-color: rgba(250, 235, 215, 0.286);
  width: 40vw;
}

/* About me Page styling */

.proflieContainer {
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, );
  -moz-box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
  box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin-left: 2.5vw;
  /* outline: white solid; */
  padding: 4vh 3vw 4vh 3vw;
}

.profilePic {
  margin-left: auto;
  margin-right: auto;
}

.profilePic img {
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, );
  -moz-box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
  box-shadow: 0px 0px 20px 1px rgb(66, 65, 65);
  /* margin-left: 4vw; */
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
}

.profilepara i {
  font-size: 4vh;
}

.profilepara {
  font-size: 3vh;
  text-transform: capitalize;
  margin-left: auto;
  height: fit-content;
  width: 90vw;
  text-align: center;
  color: white;
  font-family: 'Playfair Display';
}

.tutos {
  padding: 0vh 0vw 0vh 0vw;
  margin-left: 2.5vw;
  width: 95vw;
  display: flex;
  margin-top: 4vh;
}

.tutos img {
  height: 15vh;
}

.tutos .img {
  display: flex;
  font-size: 6vh;
}

.tutos .tuto1 {
  font-size: 2vh;
  font-family: 'inika';
  text-transform: capitalize;
  color: white;
  width: 46.5vw;
  margin-right: 1vw;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, );
  -moz-box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
  box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
}

.tuto1 p {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.tuto2 p {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 1vw;
}

.tutos .tuto2 {
  padding: 20px;
  font-size: 2vh;
  text-transform: capitalize;
  font-family: 'inika';
  color: white;
  width: 47.5vw;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, );
  -moz-box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
  box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
}

/*Footer styling*/
footer {
  margin-top: 2vw;
  /* border: 2px red solid; */
  height: 40vh;
}